@import "variables.scss";
@import "bulma";

body {
    background-image: url(./bg.png);
    background-repeat: repeat;
    min-height: 100vh;
}

.container {
    max-width: 50em;
}

.content {
    font-size: 1.2rem;
}

.page-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 70em;
    padding-bottom: 6rem;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.site-header {
    margin-bottom: 2.4rem;
}

/*
.navigation .navbar.main-navigation {
   @media screen and (min-width: 1024px) {
       background: transparent;
       &, .navbar-menu{
           display: block;
       }
       .navbar-brand {
           display: block;
           > .navbar-item {
                display: block;
                text-align: center;
           }
       }
       .navbar-start {
            justify-content: center;
       }
       .navbar-item {
            color: $text;
            font-size: 1.2em;
            font-weight: bold;
            padding-left: 2em;
            padding-right: 2em;
            &:hover {
                background-color: transparent!important;
                color: $primary!important;
            }
       }
   }
} */

.article-header {
    margin-bottom: 2.4rem;
    .title {
        margin-bottom: 0;
    }
}

.block-feature img {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.columns.is-reversed {
    flex-direction: row-reverse;
}






@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
  
  :root {
    --primary: #0be1df;
    --secondary: #000;
    --lightGrey: whitesmoke;
    --midGrey: #cacaca;
    --darkGrey: #272727;
    --footerBg: #161616;
    --danger: #ff3d3d;
    --font-primary: 'Source Sans Pro', sans-serif;
    --font-system: 'Source Sans Pro', system-ui; /* postcssPresetEnv */
    --borderRadius: 3px;
  }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
  
  ::selection {
    background: rgba(11, 255, 223, 0.4);
  }
  ::-webkit-scrollbar {
    width: 3px;
  }
   
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  }
   
  ::-webkit-scrollbar-thumb {
    background-color: var(--primary);
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
    min-height: 100%;
    background: white;
  }
  
  body {
    font-family: var(--font-system);
    min-height: 100%;
    position: relative;
    color: var(--secondary);
    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
  }
  a {
    color: var(--primary);
  }
  
  strong {
    font-weight: 600;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 1em;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    margin-bottom: 0.5em;
  }

  h1 {
      font-size: 72px;
      line-height: 76px;
  }
  h2 {
      font-size: 65px;
      line-height: 70px;
      text-transform: uppercase;
  }
  h3 {
      font-size: 28px;
      line-height: 32px;
  }
  h4 {
      font-size: 72px;
      line-height: 76px;
  }
  h5 {
      font-size: 16px;
      line-height: 21px;
  }
  p {
      font-size: 16px;
      line-height: 20px;
  }
  
  span {
      color: var(--primary);
  }

  pre {
    background: var(--lightGrey);
    line-height: 1.45;
    font-size: 85%;
    border-radius: 3px;
    padding: 16px;
  }
  
  code {
    font-size: 85%;
    padding: 0.15em 0;
    background: var(--lightGrey);
    border-radius: 3px;
  }
  code:before,
  code:after {
    letter-spacing: -0.2em;
    content: '\00a0';
  }
  pre code {
    font-size: inherit;
  }
  pre code:before,
  pre code:after {
    display: none;
  }
  li {
    list-style: none;
    text-decoration: none; 
  }
  nav li {
      list-style: none;
      text-decoration: none;
  }
  .nav-icon {
    display: inline-block;
    position: inherit;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 0 5px;
    max-height: 10px;
  }
  .nav-icon:nth-child(n) {
    right: auto;
  }
  .nav-icon li {
    text-decoration: none;
  }
  blockquote {
    margin-left: 0;
    padding-left: 1em;
    line-height: 1.1;
    font-size: 1em;
    font-style: italic;
    border-left: 2px solid var(--primary);
  }
  footer {
      background-color: var(--footerBg);
      margin: 5em 2.5em;
      overflow: hidden;
      padding: 5em;
      border-radius: 5px;
      color: white;
      box-shadow: 10px 5px 5px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
  .footer-bar {
      bottom: -10% !important;
      position: fixed;
      background-color: var(--primary);
      overflow: hidden;
      height: 5px;
      width: 90vw;
      padding: 0;
      margin: 0 auto;
  }


  /* Utility Classes */
  .light {
    background-color: var(--lightGrey);
  }
  .white {
    background-color: white;
  }
  .dark {
    background-color: var(--primary);
    color: white;
  }
  .dark h1,
  .dark h2,
  .dark h3,
  .dark h4,
  .dark h5,
  .dark h6 {
    color: white;
  }
  
  .relative {
    position: relative;
  }
  .absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .taCenter {
    text-align: center;
  }
  .taLeft {
    text-align: left;
  }
  .taRight {
    text-align: right;
  }
  .text-xl {
    font-size: 180%;
    text-transform: uppercase;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  }
  
  /* Layout */
  
  .section {
    width: 100%;
    padding: 5rem 0;
  }
  .section:last-child {
    border: 0;
  }
  .section.thick {
    padding: 10rem 0;
  }
  .section.thin {
    padding: 3.5rem 0;
  }
  .section.noPadding {
    padding: 0;
  }
  
  @media (max-width: 600px) {
    .section {
      width: 100%;
      padding: 5rem 0;
    }
    .section.thick {
      padding: 7rem 0;
    }
    .section.thin {
      padding: 1.5rem 0;
    }
  }
  
  .container {
    max-width: 1111px;
    width: 90%;
    margin: 0 auto;
  }
  .container.skinny {
    max-width: 888px;
  }
  .container.skinnier {
    max-width: 555px;
  }

.icon {
    width: 100%;
    height: 100%;
    max-width: 25px;
}
.icon:hover, .icon:active {
 color: var(--primary);
}
.tool-icon {
      margin-right: auto !important;
      margin-bottom: auto !important;
      margin-left: auto !important;
      opacity: 0.4;
      max-width: 50px;
      padding: 2em 0 0 0;
      filter: saturate(0);
      transition: all 0.3s;
}
.tool-icon:hover {
    opacity: 1;
    filter: saturate(1);
}

/* logo */

.logo {
    border-radius: 50%;
    filter: saturate(0.2);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
  }

  /* Bootstrap */
  .hidden {
    display: none !important;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12,
  .col,
  .col-auto,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm,
  .col-sm-auto,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md,
  .col-md-auto,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg,
  .col-lg-auto,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl,
  .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .d-none {
    display: none !important;
  }
  .d-block {
    display: block !important;
  }
  
  .col {
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
  }
  
  .col-auto {
    width: auto;
    max-width: none;
    flex: 0 0 auto;
  }
  
  .col-1 {
    max-width: 8.33333%;
  
    flex: 0 0 8.33333%;
  }
  
  .col-2 {
    max-width: 16.66667%;
  
    flex: 0 0 16.66667%;
  }
  
  .col-3 {
    max-width: 25%;
  
    flex: 0 0 25%;
  }
  
  .col-4 {
    max-width: 33.33333%;
  
    flex: 0 0 33.33333%;
  }
  
  .col-5 {
    max-width: 41.66667%;
  
    flex: 0 0 41.66667%;
  }
  
  .col-6 {
    max-width: 50%;
  
    flex: 0 0 50%;
  }
  
  .col-7 {
    max-width: 58.33333%;
  
    flex: 0 0 58.33333%;
  }
  
  .col-8 {
    max-width: 66.66667%;
  
    flex: 0 0 66.66667%;
  }
  
  .col-9 {
    max-width: 75%;
  
    flex: 0 0 75%;
  }
  
  .col-10 {
    max-width: 83.33333%;
  
    flex: 0 0 83.33333%;
  }
  
  .col-11 {
    max-width: 91.66667%;
  
    flex: 0 0 91.66667%;
  }
  
  .col-12 {
    max-width: 100%;
  
    flex: 0 0 100%;
  }
  
  .order-first {
    order: -1;
  }
  
  .order-last {
    order: 13;
  }
  
  .offset-1 {
    margin-left: 8.33333%;
  }
  
  .offset-2 {
    margin-left: 16.66667%;
  }
  
  .offset-3 {
    margin-left: 25%;
  }
  
  .offset-4 {
    margin-left: 33.33333%;
  }
  
  .offset-5 {
    margin-left: 41.66667%;
  }
  
  .offset-6 {
    margin-left: 50%;
  }
  
  .offset-7 {
    margin-left: 58.33333%;
  }
  
  .offset-8 {
    margin-left: 66.66667%;
  }
  
  .offset-9 {
    margin-left: 75%;
  }
  
  .offset-10 {
    margin-left: 83.33333%;
  }
  
  .offset-11 {
    margin-left: 91.66667%;
  }
  
  @media (min-width: 576px) {
    .d-sm-block {
      display: block !important;
    }
    .d-sm-none {
      display: none !important;
    }
    .col-sm {
      max-width: 100%;
      flex-basis: 0;
      flex-grow: 1;
    }
    .col-sm-auto {
      width: auto;
      max-width: none;
      flex: 0 0 auto;
    }
    .col-sm-1 {
      max-width: 8.33333%;
      flex: 0 0 8.33333%;
    }
    .col-sm-2 {
      max-width: 16.66667%;
      flex: 0 0 16.66667%;
    }
    .col-sm-3 {
      max-width: 25%;
      flex: 0 0 25%;
    }
    .col-sm-4 {
      max-width: 33.33333%;
      flex: 0 0 33.33333%;
    }
    .col-sm-5 {
      max-width: 41.66667%;
      flex: 0 0 41.66667%;
    }
    .col-sm-6 {
      max-width: 50%;
      flex: 0 0 50%;
    }
    .col-sm-7 {
      max-width: 58.33333%;
      flex: 0 0 58.33333%;
    }
    .col-sm-8 {
      max-width: 66.66667%;
  
      flex: 0 0 66.66667%;
    }
    .col-sm-9 {
      max-width: 75%;
  
      flex: 0 0 75%;
    }
    .col-sm-10 {
      max-width: 83.33333%;
  
      flex: 0 0 83.33333%;
    }
    .col-sm-11 {
      max-width: 91.66667%;
  
      flex: 0 0 91.66667%;
    }
    .col-sm-12 {
      max-width: 100%;
  
      flex: 0 0 100%;
    }
    .order-sm-first {
      order: -1;
    }
    .order-sm-last {
      order: 13;
    }
    .order-sm-0 {
      order: 0;
      -webkit-order: 0;
    }
    .order-sm-1 {
      order: 1;
      -webkit-order: -1;
    }
    .order-sm-2 {
      order: 2;
      -webkit-order: 2;
    }
    .order-sm-3 {
      order: 3;
      -webkit-order: 3;
    }
    .order-sm-4 {
      order: 4;
      -webkit-order: 4;
    }
    .order-sm-5 {
      order: 5;
      -webkit-order: 5;
    }
    .order-sm-6 {
      order: 6;
      -webkit-order: 6;
    }
    .order-sm-7 {
      order: 7;
      -webkit-order: 7;
    }
    .order-sm-8 {
      order: 8;
      -webkit-order: 8;
    }
    .order-sm-9 {
      order: 9;
    }
    .order-sm-10 {
      order: 10;
    }
    .order-sm-11 {
      order: 11;
    }
    .order-sm-12 {
      order: 12;
    }
  }
  
  @media (min-width: 768px) {
    .d-md-block {
      display: block !important;
    }
    .d-md-none {
      display: none !important;
    }
    .col-md {
      max-width: 100%;
  
      flex-basis: 0;
      flex-grow: 1;
    }
    .col-md-auto {
      width: auto;
      max-width: none;
  
      flex: 0 0 auto;
    }
    .col-md-1 {
      max-width: 8.33333%;
  
      flex: 0 0 8.33333%;
    }
    .col-md-2 {
      max-width: 16.66667%;
  
      flex: 0 0 16.66667%;
    }
    .col-md-3 {
      max-width: 25%;
  
      flex: 0 0 25%;
    }
    .col-md-4 {
      max-width: 33.33333%;
  
      flex: 0 0 33.33333%;
    }
    .col-md-5 {
      max-width: 41.66667%;
  
      flex: 0 0 41.66667%;
    }
    .col-md-6 {
      max-width: 50%;
  
      flex: 0 0 50%;
    }
    .col-md-7 {
      max-width: 58.33333%;
  
      flex: 0 0 58.33333%;
    }
    .col-md-8 {
      max-width: 66.66667%;
  
      flex: 0 0 66.66667%;
    }
    .col-md-9 {
      max-width: 75%;
  
      flex: 0 0 75%;
    }
    .col-md-10 {
      max-width: 83.33333%;
  
      flex: 0 0 83.33333%;
    }
    .col-md-11 {
      max-width: 91.66667%;
  
      flex: 0 0 91.66667%;
    }
    .col-md-12 {
      max-width: 100%;
  
      flex: 0 0 100%;
    }
    .order-md-first {
      order: -1;
    }
    .order-md-last {
      order: 13;
    }
    .order-md-0 {
      order: 0;
    }
    .order-md-1 {
      order: 1;
    }
    .order-md-2 {
      order: 2;
    }
    .order-md-3 {
      order: 3;
    }
    .order-md-4 {
      order: 4;
    }
    .order-md-5 {
      order: 5;
    }
    .order-md-6 {
      order: 6;
    }
    .order-md-7 {
      order: 7;
    }
    .order-md-8 {
      order: 8;
    }
    .order-md-9 {
      order: 9;
    }
    .order-md-10 {
      order: 10;
    }
    .order-md-11 {
      order: 11;
    }
    .order-md-12 {
      order: 12;
    }
  }
  
  @media (min-width: 992px) {
    .d-lg-block {
      display: block !important;
    }
    .d-lg-none {
      display: none !important;
    }
    .col-lg {
      max-width: 100%;
      flex-basis: 0;
      flex-grow: 1;
    }
    .col-lg-auto {
      width: auto;
      max-width: none;
      flex: 0 0 auto;
    }
    .col-lg-1 {
      max-width: 8.33333%;
      flex: 0 0 8.33333%;
    }
    .col-lg-2 {
      max-width: 16.66667%;
      flex: 0 0 16.66667%;
    }
    .col-lg-3 {
      max-width: 25%;
      flex: 0 0 25%;
    }
    .col-lg-4 {
      max-width: 33.33333%;
      flex: 0 0 33.33333%;
    }
    .col-lg-5 {
      max-width: 41.66667%;
      flex: 0 0 41.66667%;
    }
    .col-lg-6 {
      max-width: 50%;
      flex: 0 0 50%;
    }
    .col-lg-7 {
      max-width: 58.33333%;
      flex: 0 0 58.33333%;
    }
    .col-lg-8 {
      max-width: 66.66667%;
      flex: 0 0 66.66667%;
    }
    .col-lg-9 {
      max-width: 75%;
  
      flex: 0 0 75%;
    }
    .col-lg-10 {
      max-width: 83.33333%;
  
      flex: 0 0 83.33333%;
    }
    .col-lg-11 {
      max-width: 91.66667%;
  
      flex: 0 0 91.66667%;
    }
    .col-lg-12 {
      max-width: 100%;
  
      flex: 0 0 100%;
    }
    .order-lg-first {
      order: -1;
    }
    .order-lg-last {
      order: 13;
    }
    .order-lg-0 {
      order: 0;
    }
    .order-lg-1 {
      order: 1;
    }
    .order-lg-2 {
      order: 2;
    }
    .order-lg-3 {
      order: 3;
    }
    .order-lg-4 {
      order: 4;
    }
    .order-lg-5 {
      order: 5;
    }
    .order-lg-6 {
      order: 6;
    }
    .order-lg-7 {
      order: 7;
    }
    .order-lg-8 {
      order: 8;
    }
    .order-lg-9 {
      order: 9;
    }
    .order-lg-10 {
      order: 10;
    }
    .order-lg-11 {
      order: 11;
    }
    .order-lg-12 {
      order: 12;
    }
  }
  
  @media (min-width: 1200px) {
    .d-xl-block {
      display: block !important;
    }
    .d-xl-none {
      display: none !important;
    }
    .col-xl {
      max-width: 100%;
  
      flex-basis: 0;
      flex-grow: 1;
    }
    .col-xl-auto {
      width: auto;
      max-width: none;
  
      flex: 0 0 auto;
    }
    .col-xl-1 {
      max-width: 8.33333%;
  
      flex: 0 0 8.33333%;
    }
    .col-xl-2 {
      max-width: 16.66667%;
  
      flex: 0 0 16.66667%;
    }
    .col-xl-3 {
      max-width: 25%;
  
      flex: 0 0 25%;
    }
    .col-xl-4 {
      max-width: 33.33333%;
  
      flex: 0 0 33.33333%;
    }
    .col-xl-5 {
      max-width: 41.66667%;
  
      flex: 0 0 41.66667%;
    }
    .col-xl-6 {
      max-width: 50%;
  
      flex: 0 0 50%;
    }
    .col-xl-7 {
      max-width: 58.33333%;
  
      flex: 0 0 58.33333%;
    }
    .col-xl-8 {
      max-width: 66.66667%;
  
      flex: 0 0 66.66667%;
    }
    .col-xl-9 {
      max-width: 75%;
  
      flex: 0 0 75%;
    }
    .col-xl-10 {
      max-width: 83.33333%;
  
      flex: 0 0 83.33333%;
    }
    .col-xl-11 {
      max-width: 91.66667%;
  
      flex: 0 0 91.66667%;
    }
    .col-xl-12 {
      max-width: 100%;
  
      flex: 0 0 100%;
    }
    .order-xl-first {
      order: -1;
    }
    .order-xl-last {
      order: 13;
    }
    .order-xl-0 {
      order: 0;
    }
    .order-xl-1 {
      order: 1;
    }
    .order-xl-2 {
      order: 2;
    }
    .order-xl-3 {
      order: 3;
    }
    .order-xl-4 {
      order: 4;
    }
    .order-xl-5 {
      order: 5;
    }
    .order-xl-6 {
      order: 6;
    }
    .order-xl-7 {
      order: 7;
    }
    .order-xl-8 {
      order: 8;
    }
    .order-xl-9 {
      order: 9;
    }
    .order-xl-10 {
      order: 10;
    }
    .order-xl-11 {
      order: 11;
    }
    .order-xl-12 {
      order: 12;
    }
  }
  
  .p-0 {
    padding: 0 !important;
  }
  
  .pt-0,
  .py-0 {
    padding-top: 0 !important;
  }
  
  .pr-0,
  .px-0 {
    padding-right: 0 !important;
  }
  
  .pb-0,
  .py-0 {
    padding-bottom: 0 !important;
  }
  
  .pl-0,
  .px-0 {
    padding-left: 0 !important;
  }
  
  .p-1 {
    padding: 0.25rem !important;
  }
  
  .pt-1,
  .py-1 {
    padding-top: 0.25rem !important;
  }
  
  .pr-1,
  .px-1 {
    padding-right: 0.25rem !important;
  }
  
  .pb-1,
  .py-1 {
    padding-bottom: 0.25rem !important;
  }
  
  .pl-1,
  .px-1 {
    padding-left: 0.25rem !important;
  }
  
  .p-2 {
    padding: 0.5rem !important;
  }
  
  .pt-2,
  .py-2 {
    padding-top: 0.5rem !important;
  }
  
  .pr-2,
  .px-2 {
    padding-right: 0.5rem !important;
  }
  
  .pb-2,
  .py-2 {
    padding-bottom: 0.5rem !important;
  }
  
  .pl-2,
  .px-2 {
    padding-left: 0.5rem !important;
  }
  
  .p-3 {
    padding: 1rem !important;
  }
  
  .pt-3,
  .py-3 {
    padding-top: 1rem !important;
  }
  
  .pr-3,
  .px-3 {
    padding-right: 1rem !important;
  }
  
  .pb-3,
  .py-3 {
    padding-bottom: 1rem !important;
  }
  
  .pl-3,
  .px-3 {
    padding-left: 1rem !important;
  }
  
  .p-4 {
    padding: 1.5rem !important;
  }
  
  .pt-4,
  .py-4 {
    padding-top: 1.5rem !important;
  }
  
  .pr-4,
  .px-4 {
    padding-right: 1.5rem !important;
  }
  
  .pb-4,
  .py-4 {
    padding-bottom: 1.5rem !important;
  }
  
  .pl-4,
  .px-4 {
    padding-left: 1.5rem !important;
  }
  
  .p-5 {
    padding: 3rem !important;
  }
  
  .pt-5,
  .py-5 {
    padding-top: 3rem !important;
  }
  
  .pr-5,
  .px-5 {
    padding-right: 3rem !important;
  }
  
  .pb-5,
  .py-5 {
    padding-bottom: 3rem !important;
  }
  
  .pl-5,
  .px-5 {
    padding-left: 3rem !important;
  }
  
  .m-auto {
    margin: auto !important;
  }
  .mt-auto,
  .my-auto {
    margin-top: auto !important;
  }
  .mr-auto,
  .mx-auto {
    margin-right: auto !important;
  }
  .mb-auto,
  .my-auto {
    margin-bottom: auto !important;
  }
  .ml-auto,
  .mx-auto {
    margin-left: auto !important;
  }
  .text-left {
    text-align: left !important;
  }
  .text-right {
    text-align: right !important;
  }
  .text-center {
    text-align: center !important;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  .imgFeature {
    box-shadow: 10px 5px 5px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s;
    border-radius: 5px;
    width: 100%;
    max-width: 420px;
  }
  .imgFeature:hover {
    transform: scale(1.03);
  }
  .craft-bg-1 {
    background: url('/images/svg/weed-xl.svg');
    background-size: 100% 100%;
    background-position: -40vw;
    background-repeat: no-repeat;
    z-index: -1;
    position: inherit;
  }
  .craft-bg-2 {
    background: url('/images/svg/weed-xl.svg');
    background-size: 100% 100%;
    background-position: 45vw center;
    background-repeat: no-repeat;
    z-index: -1;
    position: inherit;
  }
  .reserve-bg-1 {
    background: url('/images/svg/blob-shape.svg');
    background-size: 100% 100%;
    background-position: -40vw;
    background-repeat: no-repeat;
    z-index: -1;
    position: inherit;
  }
  .reserve-bg-2 {
    background: url('/images/svg/blob-shape.svg');
    background-size: 100% 100%;
    background-position: 45vw center;
    background-repeat: no-repeat;
    z-index: -1;
    position: inherit;
  }
  /* Wave */
  .wave {
    margin: 0 0 -1rem 0;
    z-index: 1;
  }
  .wave-1 {
    margin-top: -250%;
    z-index: 1;
  }
  .fof-wave {
    height: 50vh;
    background: #000;
  }
  
  .ish-bg-gradient {
    background-color: #fee140;
    background-image: linear-gradient(335deg, #fee140 0%, #fa709a 100%);
    height: 75vh;
  }
  .craft-bg-gradient {
    background: #cab8a8; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to bottom,
      #e1ded8,
      #cab8a8
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      #e1ded8,
      #cab8a8
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    height: 70vh;
  }
  .reserve-bg-gradient {
    background: #b1b0ad; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #cccccc,
      #b1b0ad
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #cccccc,
      #b1b0ad
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 70vh;
  }
  /* Buttons */
  
  .Button {
    background: black;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 1.4rem;
    display: inline-block;
    padding: 2rem 4rem;
    border: none;
    transition: all 0.2s ease;
    cursor: pointer;
    border-radius: var(--borderRadius);
  }
  .Button:hover,
  .Button:focus {
    opacity: 0.95;
    outline: none;
    background: var(--primary);
  }
  .Button[disabled] {
    opacity: 0.4;
    pointer-events: none;
    cursor: progress;
  }
  .Button-blank {
    appearance: none;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bg-lightgrey {
    background: var(--midGrey);
  }
  .bg-white {
    background: white;
  }
  .bg-dark {
    background: black;
  }
  
  /* Product Cards */

  .project {
    width: 100%;
    height: auto;
    transition: all .4s ease-in-out;
    cursor: pointer;
    margin: 40px 0;
    color: #fff;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 5px 32px rgba(50,50,93,.14), 0 3px 6px rgba(0,0,0,.13);
  }
  .project-bg {
      background: rgba(0, 00, 0, 0.2);

  }
  .project:hover {
    transform: scale(1.004);
  }
  .project-icon {
    text-align: left;
    position: absolute;
    display: block;
    top: 50px;
    left: 50px;
    width: 100px;
    z-index: 999;
  }
  .project-desc {
    position: relative;
    min-height: 250px;
    padding-left: 50px;
    margin-left: 1%;
    width: 56%;
    z-index: 2;
    line-height: 2.8em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 70px;
    letter-spacing: 0.5em;
}

  .card {
    min-height: 100px;
    width: 100%;
    transition: all .4s ease-in-out;
    position: relative;
    cursor: pointer;
    color: #fff;
    margin: 40px 0;
    user-select: none;
  }
  .card-content {
    position: relative;
    transition: all .1s ease-out;
    z-index: 2;
  }
  .card-logo {
    user-select: none;
    text-align: left;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    z-index: 10;
  }
  .card .description {
    position: relative;
    min-height: 250px;
    padding-left: 50px;
    margin-left: 1%;
    width: 56%;
    z-index: 2;
    line-height: 2.8em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 70px;
}
.card-back, .card-image-back {
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .35s ease-out;
    background-position: 50%;
    background-repeat: no-repeat;
}
.card-back {
    box-shadow: 0 5px 32px rgba(50,50,93,.14), 0 3px 6px rgba(0,0,0,.13);
    background-color: #051027;
    z-index: 0;
}
.card-image-back {
    z-index: 1;
    background-size: cover;
}
.card-back, .card-image-back {
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .35s ease-out;
    background-position: 50%;
    background-repeat: no-repeat;
}