$primary: #0be1df;
$secondary: #000;
$lightGrey: whitesmoke;
$midGrey: #cacaca;
$darkGrey: #272727;
$footerBg: #161616;
$danger: #ff3d3d;
$font-primary: 'Source Sans Pro', sans-serif;
$font-system: 'Source Sans Pro', system-ui; /* postcssPresetEnv */
$borderRadius: 3px;